Django
python-decouple
yfinance
pandas
numpy
pandas-ta
vectorbt
plotly
asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
curl_cffi
Django
FLAML
frozendict  
idna
joblib
multitasking
numpy
pandas
peewee
platformdirs
protobuf
pycparser
python-dateutil
pytz
requests
scikit-learn
scipy
six
soupsieve
sqlparse
threadpoolctl
typing_extensions
tzdata
urllib3
websockets
yfinance
xgboost
lightgbm
matplotlib
torch
supabase
python-dotenv
